header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: transparent;
    z-index: 99;
    z-index: 101;
}
a{
    border: 1px solid transparent;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-sections{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    border: 1px solid #000;
    box-shadow: 1px 1px 3px #fff;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}
a{
    color: aliceblue;
    text-decoration: none;
    border: 1px solid transparent;
    padding: 5px;
}
.hover{
    border: 2px solid white;
    border-radius: 5px;
}
@media (max-width: 600px) {
    header{
        flex-direction: column;
        padding: 1px;
    }
    .nav-sections{
        padding: 5px;
        width: 100%;
        border-radius: 0;
        position: fixed;
        bottom: 0;
        gap: 3px;
    }
    .nav-sections a{
        padding: 2px;
        font-size: 80%;
    }
}
