<header [class.header]="activeSection !== 'home'">
    <nav class="nav-me">
        <a class="nav-link" href="https://www.linkedin.com/in/cristiano-mendes-link/">
            <img class="nav-avatar" src="https://avatars.githubusercontent.com/u/116528159?v=4" alt="Imagem Cristiano Mendes" width="40px">
            Cristiano Mendes</a>
    </nav>
    <nav class="nav-sections">
        <a [class.hover]="activeSection === 'home'" href="#home">INÍCIO</a>
        <a [class.hover]="activeSection === 'about'" href="#about">SOBRE</a>
        <a [class.hover]="activeSection === 'skills'" href="#skills">HABILIDADES</a>
        <a [class.hover]="activeSection === 'projects'" href="#projects">PROJETOS</a>
        <a [class.hover]="activeSection === 'contacts'" href="#contacts">CONTATOS</a>
    </nav>
</header>
