<header>
    <nav class="nav-me">
        <a class="nav-link" href="https://www.linkedin.com/in/cristiano-mendes-link/">
            <img class="nav-avatar" src="https://avatars.githubusercontent.com/u/116528159?v=4" alt="Imagem Cristiano Mendes" width="40px">
            Cristiano Mendes</a>
    </nav>
    <nav class="nav-sections">
        <a href="#home">INÍCIO</a>
        <a href="#about">SOBRE</a>
        <a href="#skills">HABILIDADES</a>
        <a href="#projects">PROJETOS</a>
        <a href="#contacts">CONTATOS</a>
    </nav>
</header>
