header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: 1px solid;
    padding: 10px;
    background-color: #111;
    z-index: 99;

}
a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.nav-me{
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.nav-avatar{
    border-radius: 50%;
    border: 1px solid white;
}
.nav-sections{
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
a{
    color: aliceblue;
    text-decoration: none;
    border: 1px solid transparent;
    padding: 5px;
}
a:hover{
    color: #44f;
    border: 1px solid #44f;
    border-radius: 5px;
}
a:hover img{
    border-color: #44f;
}
@media (max-width: 600px) {
    header{
        flex-direction: column;
        padding: 5px;
    }
    .nav-me a{
        padding: 0;
        font-size: small;
    }
    .nav-me{
        padding: 0 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1px;
    }
    img{
        height: 30px;
        width: 30px;
    }
    .nav-sections{
        padding: 5px;
        gap: 5px;
        position: fixed;
        bottom: 10px;
        background-color: #111;
        border-radius: 20px;
    }
    .nav-sections a{
        font-size: x-small;
    }
}
