footer {
  position: relative;
  bottom: 0;
  height: max-content;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 5%;
  border-top: 1px solid #000;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
textarea{
  width: 300px;
  height: 100px;
}

.contact-container {
  display: flex;
  gap: 10px;
}

.dev-container {
  text-align: center;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 5px;
}


button {
  background-color: transparent;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
}
div #page{
  width: max-content;

}
.page-container{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media (max-width: 599px) {
  footer {
    font-size: small;
    padding-bottom: 100px;
  }

  .container {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  a {
    transform: scale(80%);
  }


}