footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: #111;
    color: white;
}
p{
    text-align: center;
    opacity: 0.4;
}
@media (max-width: 600px) {
    footer{
    }
    p{
        font-size: small;
    }
}