<section id="about" class="about-container section">
    <div class="top">
        <h2 class="about-name">Sobre</h2>
        <p class="description">Aqui você encontrará mais informações sobre mim, o que faço e minhas habilidades
            atuais
            principalmente em termos de programação e tecnologia</p>
    </div>
    <div class="down" #down>
        <div class="left" [ngClass]="isElementVisible() ? 'anim-on':''">
            <h3 class="about-name">Quem sou?</h3>

            @for (item of paragraphs; track $index) {
            <div>
                <p class="about-description">
                    {{item.description}}
                </p>
            </div>
            }
        </div>
        <div class="rigth" [ngClass]="isElementVisible() ? 'anim-on':''">
            <div class="certificates" #container>
                <h3>Certificados</h3>
                <button class="previous-certificate" [style]="currentIndex <= 0 ? 'display: none;':''"
                    (click)="previousCertificate()">
                    <img src="../../../assets/chevron_left.svg" alt="left icon">
                </button>
                <div class="content" #content>
                    @for (item of certificates; track $index) {
                    <app-certificates [image]="item.image" [link]="item.link">
                    </app-certificates>
                    }
                </div>
                <div class="indicators">
                    <div *ngFor="let item of certificates; let i=index" [class]="currentIndex === i ? 'dot show':'dot'"
                        id={{i}} (click)="selectCertificate(i)"></div>
                </div>
                <button class="next-certificate" [style]="currentIndex >= certificates.length -1 ? 'display: none;':''"
                    (click)="nextCertificate()">
                    <img src="../../../assets/chevron_right.svg" alt="right icon">
                </button>
            </div>
        </div>
    </div>
    <app-skills></app-skills>
</section>