<section id="about" class="about-container">
    <div class="top">
        <h2 class="about-name">Sobre mim</h2>
        <p class="description">Aqui você encontrará mais informações sobre mim, o que faço e minhas habilidades
            atuais
            principalmente em termos de programação e tecnologia</p>
    </div>
    <div class="down">
        <div class="left" #left>
            <h3 class="about-name">Quem sou?</h3>
            <div>
                <p class="about-description">
                    Desde criança, sempre tive interesse em tecnologia. mas, foi no
                    <strong>SENAC</strong>, em 2022, que pude ver isso como uma carreira. No curso de
                    <strong>Programador de Sistemas</strong>, tive acesso a uma base sólida de conhecimento em
                    <strong>lógica de programação</strong>, além de conceitos de <strong>Java</strong> e
                    <strong>SQL</strong>.
                    Atualmente sou estudante de <strong>Engenharia
                        de Software</strong> na <strong>Universidade Federal do Ceará</strong>, e estou sempre buscando
                    aprimorar e adquirir mais conhecimentos na área.
                </p>
            </div>
            <div>
                <p class="about-description">
                    Tenho experiência em criação de APIs Rest usando <strong>Java 17</strong> com <strong>Spring Boot
                        3</strong>, incluindo testes unitários com <strong>JUnit</strong> e <strong>Mockito</strong>,
                    documentação com <strong>OpenApi</strong> e <strong>Swagger UI</strong>, autenticação e autorização
                    utilizando <strong>JWT</strong> e <strong>Spring Security</strong> para segurança de endpoints.
                    Utilizo <strong>Spring Data JPA</strong> para realizar CRUD em bancos de dados relacionais como
                    <strong>PostgreSQL</strong>,
                    e <strong>Flyway Migrations</strong> para manter o versionamento do banco.
                </p>
                <p class="about-description">
                    Além de desenvolvimento Backend, tenho experiência em desenvolvimento frontend usando
                    <strong>Angular</strong> e <strong>React</strong>, focando na criação de interfaces responsivas
                    e
                    interativas. Além disso, possuo habilidades em consumir APIs para integrar dados e
                    funcionalidades
                    nos aplicativos que desenvolvo.
                </p>
            </div>
            <div>
                <p class="about-description">
                    Estou aberto a novas oportunidades onde posso aplicar minhas habilidades e continuar aprendendo e
                    crescendo profissionalmente.
                </p>
                <p class="about-description">
                    Se tiver uma boa oportunidade que corresponda às minhas competências e experiência,
                    fique á vontade para me contatar. Estou pronto para contribuir positivamente, seja em um
                    ambiente
                    corporativo ou em projetos individuais.
                </p>
            </div>
        </div>
        <div class="rigth" #rigth>
            <app-skills></app-skills>
            <!--
            <div class="publications" #publications>
                <h3>Artigos do Linkedin</h3>
                <button class="previous-publication" [style]="currentPubIndex <= 0 ? 'display: none;':''" (click)="previousPublication()"><</button>
                <div class="content-pub">
                    @for (item of publicationsLinks; track $index) {
                        <app-publications
                            [style]="$index === currentPubIndex ? 'display: block;' : 'display: none;'"
                            [link]="item.link">
                        </app-publications>
                    }
                </div>
                <button class="next-publication" [style]="currentPubIndex >= publicationsLinks.length - 1 ? 'display: none;':''" (click)="nextPublication()">></button>
            </div> -->

            <div class="certificates" #container>
                <h3>Certificados</h3>
                <button class="previous-certificate" [style]="currentIndex <= 0 ? 'display: none;':''" (click)="previousCertificate()"><</button>
                    <div class="content" #content>
                        @for (item of certificates; track $index) {
                            <app-certificates [image]="item.image" [link]="item.link"></app-certificates>
                        }
                    </div>
                    <div class="indicators">
                            <div *ngFor="let item of certificates; let i=index" [class]="currentIndex === i ? 'dot show':'dot'" id={{i}} (click)="selectCertificate(i)"></div>                        
                    </div>
                <button class="next-certificate" [style]="currentIndex >= certificates.length -1 ? 'display: none;':''" (click)="nextCertificate()">></button>
            </div>
        </div>
    </div>
</section>