<section id="about" class="about-container">
    <div class="top">
        <h2 class="about-name">Sobre mim</h2>
        <p class="description">Aqui você encontrará mais informações sobre mim, o que faço e minhas habilidades
            atuais
            principalmente em termos de programação e tecnologia</p>
    </div>
    <div class="down">
        <div class="left">
            <div>
                <h3 class="about-name">Quem sou?</h3>
                <p class="about-description">
                    Atualmente cursando <strong>Engenharia
                        de Software</strong> na <strong>Universidade Federal do Ceará</strong> no campus de Quixadá-CE.
                </p>
                <h3 class="about-name">O que faço?</h3>

                <p class="about-description">
                    Tenho experiência em criação de APIs Rest usando <strong>Java 17</strong> com <strong>Spring Boot
                        3</strong>, incluindo testes unitários com <strong>JUnit</strong> e <strong>Mockito</strong>,
                    documentação com <strong>OpenApi</strong> e <strong>Swagger UI</strong>, autenticação e autorização
                    utilizando <strong>JWT</strong> e <strong>Spring Security</strong> para segurança de endpoints.
                    Utilizo bancos de dados relacionais como <strong>PostgreSQL</strong>.
                </p>

                <p class="about-description">
                    Além de desenvolvimento Backend, tenho experiência em desenvolvimento frontend usando
                    <strong>Angular</strong> e <strong>React</strong>, focando na criação de interfaces responsivas e
                    interativas. Além disso, possuo habilidades em consumir APIs para integrar dados e funcionalidades
                    nos aplicativos que desenvolvo.
                </p>



                <h3>Hobbies e Interesses</h3>

                <p class="about-description">
                    Além de programação, tenho alguns hobbies que me ajudam a manter a criatividade e o equilíbrio.
                    Participo de jogos competitivos online, gosto de tocar (ou tentar tocar) violão ou guitarra e
                    praticar atividades ao ar livre, como ciclismo e pesca.
                </p>

                <h3>Oportunidades de Trabalho</h3>

                <p class="about-description">
                    Estou aberto a novas oportunidades onde posso aplicar minhas habilidades e continuar aprendendo e
                    crescendo profissionalmente.
                </p>

                <p class="about-description">
                    Se você procura por um profissional comprometido, motivado e sempre em busca de novos conhecimentos,
                    ficarei feliz em conversar. Estou pronto para contribuir positivamente, seja em um ambiente
                    corporativo ou em projetos individuais.
                </p>
            </div>
        </div>
        <div class="rigth">
            <app-skills></app-skills>
        </div>
    </div>
</section>