<footer class="footer-container">
    <div class="container">

    </div>

    <div class="contact-container">
        <p>cristianomendes.dev&#64;gmail.com</p>
        <div class="social-icons">
            <a href="https://www.linkedin.com/in/cristiano-mendes-link" target="_blank">
                <img src="./../../../assets/LI-In-Bug.png" alt="LinkedIn" />
            </a>
            <a href="https://github.com/CristianoMends" target="_blank">
                <img src="../../../assets/github-mark-white.png" alt="GitHub" />
            </a>
        </div>

    </div>

    <div class="nav-container">
        <ul>
            <li><a href="#home">Inicio</a></li>
            <li><a href="#projects">Projetos</a></li>
            <li><a href="#about">Sobre</a></li>
            <li><a href="#repos">Repositórios</a></li>
        </ul>
    </div>

    <div class="dev-container">
        @if (errorMessage) {
        <div class="error">{{ errorMessage }}</div>
        }@else {
        <div class="visits">
            <label for="visits">Visitas: </label>
            <span id="visits" class="qtd-access">{{qtd}}</span>
        </div>
        }
        <p>&copy; 2024 - {{year}} Cristiano Mendes - Software Developer</p>
    </div>
</footer>