<footer class="footer-container">
    <div class="container">

    </div>
    <div class="page-container">
        <label for="page">Acesse meus artigos no </label>
        <a id="page" name="page" href="https://cristianomends.github.io/eng-de-software" target="_blank">Github
            Pages</a>
    </div>

    <div class="contact-container">
        <p><a href="mailto:cristianomendes.dev@gmail.com">cristianomendes.dev&#64;gmail.com</a></p>
        <div class="social-icons">
            <a href="https://www.linkedin.com/in/cristiano-mendes-link" target="_blank">LinkedIn</a> |
            <a href="https://github.com/CristianoMends" target="_blank">GitHub</a>
        </div>
    </div>

    <div class="nav-container">
        <ul>
            <li><a href="#home">Inicio</a></li>
            <li><a href="#projects">Projetos</a></li>
            <li><a href="#about">Sobre</a></li>
            <li><a href="#contacts">Contato</a></li>
        </ul>
    </div>

    <div class="dev-container">
        <p>Cristiano Mendes | Software Engineer</p>
        <p>Copyright &copy; 2024 - All Rights Reserved</p>
    </div>
</footer>