.footer-container {
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 100px 0;
}

.footer-container a {
    color: #dfdcdc;
    text-decoration: none;
    font-weight: bold;
}

.footer-container a:hover {
    text-decoration: underline;
}

.footer-container .container,
.footer-container .page-container,
.footer-container .contact-container,
.footer-container .nav-container,
.footer-container .dev-container {
    margin-bottom: 10px;
}

.footer-container,
.footer-container {
    margin: 5px 0;
}

.contact-container p {
    margin-top: 0;
    text-align: center;
}

.footer-container .social-icons a {
    margin: 0 5px;
}

.footer-container .nav-container ul {
    list-style: none;
    padding: 0;
}

.footer-container .nav-container ul li {
    display: inline;
    margin: 0 10px;
}

.dev-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dev-container p {
    margin: 0;
}