.footer-container {
    color: #fff;
    padding: 40px 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #222;
    padding-top: 50px;
}

.footer-container a {
    color: #dfdcdc;
    text-decoration: none;
    font-weight: bold;
}

.footer-container a:hover {
    text-decoration: underline;
}
.social-icons a img {
    width: 24px;
    height: 24px;
    margin: 0 10px;
}
.social-icons a:hover img {
    opacity: 0.7;
}


.footer-container .container,
.footer-container .page-container,
.footer-container .contact-container,
.footer-container .nav-container,
.footer-container .dev-container {
    margin-bottom: 15px;
}

.footer-container .social-icons a {
    margin: 0 10px;
}

.footer-container .nav-container ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.footer-container .nav-container ul li {
    display: inline;
    margin: 0 15px;
}

.dev-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.dev-container p {
    padding: 15px;
    text-align: center;
    width: 80%;
}

.visits {
    margin-bottom: 10px;
    font-size: 18px;
    color: #fff;
}

.visits label {
    font-weight: bold;
    color: #dfdcdc; /* Cor mais suave para o label */
}

.qtd-access {
    font-size: 20px;
    font-weight: bold;
    color: #f39c12; /* Cor destacada para o número de visitas */
}

.contact-container p {
    margin-top: 0;
    text-align: center;
}

.footer-container .social-icons a {
    color: #dfdcdc;
    text-decoration: none;
    font-weight: bold;
}

.footer-container .social-icons a:hover {
    text-decoration: underline;
}
