.container {
    position: absolute;
    top: 25%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50%;
    width: 80%;
    padding: 0 10%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: var(--boxShadow);
    opacity: 0;
    animation: fadein 0.2s linear forwards;
    color: #111;
}
@keyframes fadein {
    0%{opacity: 0;}100%{
        opacity: 1;
    }
}


.check-symbol {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 4px solid var(--backgroundColor2);
    border-radius: 50%;
    position: relative;
}

.check-symbol::after {
    content: '';
    position: absolute;
    top: 10px;
    left: 17px;
    width: 14px;
    height: 24px;
    border-width: 0 4px 4px 0;
    border-style: solid;
    border-color: var(--backgroundColor2);
    transform: rotate(45deg);
}