<section id="about" class="about-container" [class.anim]="isCurrentActiveSection()">
    <h2 class="about-name">Quem é Cristiano?</h2>
    <h3 class="about-dev">Um Desenvolvedor movido pela curiosidade!</h3>
    <p class="about-description">
        Sou desenvolvedor de software com forte interesse em resolver problemas através da programação.
        Para mim, codificar vai além de simplesmente escrever e executar funções, é uma forma de transformar
        desafios complexos em soluções automáticas e práticas.
        Ao resolver cada problema, aplico minhas habilidades técnicas e adquiro novos conhecimentos que aprimoram
        minha visão e abordagem no desenvolvimento de software.
    </p>
    <p>
        Atualmente, estudo Engenharia de Software na Universidade Federal do Ceará (UFC),
        com o objetivo de consolidar minha base de conhecimento e me preparar para as demandas
        do mercado de desenvolvimento de software.
    </p>
</section>