<section id="about" class="about-container" [class.anim]="isCurrentActiveSection()">
    <h1 class="about-name">Quem é Cristiano?</h1>
    <h2 class="about-dev">Um Desenvolvedor movido pela curiosidade!</h2>
    <p class="about-description">
        Gosto muito de usar código para corrigir 
        problemas diversos, e não se trata apenas de 
        escrever código e executar funções. Cada vez 
        que digito algo, aprendo, melhoro e transformo 
        problemas difíceis em ideias interessantes. 
        À medida que resolvo cada problema, não só 
        uso minhas habilidades técnicas, mas também 
        aprendo coisas novas que me ajudam a ver as 
        coisas de maneira diferente como desenvolvedor.


    </p>
    <p>
        Estudo Engenharia de Software na Universidade 
        Federal do Ceará (UFC) e busco sempre obter o 
        maximo de conhecimento necessario para o mercado de 
        desenvolvimento de software.
    </p>
</section>