.about-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    padding: 0 25%;
    opacity: 0;
    transition: opacity 0.5s;
}
.anim{
    opacity: 1;
}
@media (max-width: 600px) {
    .about-container{
        padding: 10px;
    }
}