.contacts-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contacts-container div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 100%;
}

img {
    position: relative;
    left: -10000px;
    height: 40px;
    margin: 5px;
}
a{
    border: 1px solid transparent;
    border-radius: 5px;
}
.animation{
    animation: anim 1s linear forwards;
}
@keyframes anim {
    from{}to{
        left: 0px;
    }
    
}
@media (max-width: 600px) {
    img{
        height: 30px;
    }
}