<section id="contacts" class="contacts-container" [class.anim]="isCurrentActiveSection()">
    <h2>Contate-me</h2>
    <div #container>
        <a href="https://www.linkedin.com/in/cristiano-mendes-link/">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/linkedin/linkedin-original.svg" />
        </a>
        <a href="https://github.com/CristianoMends">
            <img src="/assets/github.png" />
        </a>
        <a href="mailto:mendescristiano012@gmail.com">
            <img src="/assets/color_gmail.png" alt="">
        </a>
    </div>
</section>