.project{
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: opacity 1s ease, transform 1s ease;
}

.description{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.description p{
    width: 25%;
    text-align: center;
}
button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
button:hover{
    background-color: #112764bb;
}
.left{
    display: flex;
    align-items: end;
    justify-content: end;
    width: 40%;
    padding: 3%;
}
.rigth{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 40%;

    padding: 20px;
    margin-right: 3%;
    border-radius: 10px;
}
.project-description{
    width: 100%;
}
.down{
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.technologies{
    padding: 10px;
    border-radius: 5px;
    height: max-content;
    margin: 10px 0;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 10px;
    flex-wrap: wrap;
}
.technologies div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    height: max-content;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--boxColor);
}
.technologies div span{
    opacity: 0.8;
}
.pc{
    height: 100%;
    width: -webkit-fill-available;
    transition: scale 0.2s ease-out;
    filter: drop-shadow(0px 4px 4px #222);
    animation: slowShake 5s ease-in-out infinite;
}
@keyframes slowShake {
    0%{}
    50%{transform: translateY(5px);}
    100%{}
}
.pc:hover{
    scale: 1.05;
}
.top{
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
}
.top h3{
    margin: 0;
    padding: 0;
}
.mobile{
    transform: translateX(-50px);
    position: absolute;
    height: 200px;
    opacity: 1;
    transition: scale 0.2s ease-out;
    filter: drop-shadow(0px 4px 4px #222);
    animation: slowShake2 5s ease-in-out infinite 0.5s;
}
@keyframes slowShake2 {
    0%{ }
    50%{transform: translateX(-50px) translateY(10px);}
    100%{ }
}
.mobile:hover{
    scale: 1.1;
}
.rigth .header{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.offline{
    color: rgba(194, 13, 13, 0.986);
    padding: 5px;
    border-radius: 5px;
    font-size: larger;
}
.online{
    color: green;
    padding: 5px;
    border-radius: 5px;
    font-size: larger;
}
@media (max-width: 600px) {
    .project{
        flex-direction: column;
        justify-content: start;
        align-items: center;
        margin-top: 100px;
    }
    .left{
        width: 90%;
        height: 100%;
    }
    .pc{
        width: 100%;
    }
    .mobile{
        width: 12%;
        height: auto;
    }
    .rigth{
        width: 80%;
        margin: 0;
    }
    .technologies{
        flex-wrap: wrap;
        justify-content: center;
    }
    .down{
        width: -webkit-fill-available;
    }
}