<div class="project" #project>
    <div class="left" [ngClass]="isShowing() ? 'anim-on':''">
        <img class="project-background" src="../../../assets/project_background.png" alt="background">
        <img *ngIf="image" class="pc" [src]="image" alt="{{name}}" loading="lazy">
    </div>
    <div class="rigth" #RigthContainer #rigthContainer [ngClass]="isShowing() ? 'anim-on':''">
        <div class="header">
            <h3 class="project-title">
                {{name}}
            </h3>
        </div>
        <p class="project-description">
            {{description}}
        </p>
        <h3 *ngIf="technologies.length > 0">Tecnologias</h3>
        <div class="technologies">
            <div *ngFor="let t of technologies"><span>{{t}}</span></div>
        </div>
        <div class="down">
            <button class="hover-animate" *ngIf="urlVideo" (click)="sendUrl()">
                <img class="icon" src="../../../assets/play_circle_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.png" alt="play video">
                VÍDEO
            </button>
            <button *ngIf="urlProduction" (click)="goLink(urlProduction)">
                <img class="icon" src="../../../assets/web_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.png" alt="Acessar">
                ACESSAR
            </button>
            <button *ngIf="urlRepository" (click)="goLink(urlRepository)">
                <img class="icon" src="../../../assets/code_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.png" alt="Código fonte">
                CÓDIGO
            </button>
        </div>
    </div>
</div>