<div class="project" #project>
    <div class="left">
        <img *ngIf="pcImagePath" class="pc" [src]="pcImagePath" alt="{{name}}" loading="lazy">
        <img *ngIf="mobileImagePath" class="mobile" [src]="mobileImagePath" alt="{{name}}" loading="lazy">
    </div>
    <div class="rigth" #rigth>
        <div class="header">
            <h3 class="project-title">
                {{name}}
            </h3>
        </div>
        <p class="project-description">
            {{description}}
        </p>
        <h3>Tecnologias</h3>
        <div class="technologies">
            <div *ngFor="let t of technologies"><span>{{t}}</span></div>
        </div>
        <div class="down">
            <button *ngIf="urlVideo" (click)="showPreview(urlVideo)">
                VÍDEO
            </button>
            <button *ngIf="urlProduction" (click)="goLink(urlProduction)">
                ACESSAR
            </button>
            <button *ngIf="urlRepository" (click)="goLink(urlRepository)">
                CÓDIGO FONTE
            </button>
        </div>
    </div>
</div>
