<section id="projects" class="projects-container">
    <h1>Conheça Meus Projetos</h1>
    <div class="projects">
        <section class="projects-content">

            <h3 class="project-title">
                Api de catalogo de produtos
            </h3>
            <p class="project-description">
                Uma Api Rest desenvolvida com Framework NestJs e integração com Banco de dados PostgreSQL
            </p>
            <span>Link: <a class="project-link" href="https://github.com/CristianoMends/product-catalog-api">
                    product-catalog-api
                </a></span>
                <iframe src="/assets/catalog_api.mp4" frameborder="0" title="video api catalogo de produtos"></iframe>

        </section>

    </div>
</section>