.projects-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 80%;
    background-color: transparent;
    opacity: 1;
}
.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;

}
.project{
    margin: 5px;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-bottom: 10px;
    border: 1px solid #000;
    box-shadow: 1px 1px 3px #fff;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}
.img{
    width: 100%;
    height: 50%;
    overflow: hidden;
}
img{
    height: 100%;
    width: 100%;
    transform: scale(1);
}
button:hover{
    cursor: pointer;
    border-color: #fff;
}

.project-info{
    height: 50%;
    gap: 10px;
    padding: 25px;
    font-size: 1.3em;
}
.btns{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}
button{
    background-color: transparent;
    border: 1px solid transparent;
    color: #fff;
    border-radius: 5px;
    font-size: 70%;
    padding: 5px;
}
.project-title{
    text-align: center;
}
.project-description{
    text-align: justify;
    padding: 10px;
}
.hidden {
    display: none;
}

@media (max-width: 600px) {
    .project{
        width: 90%;
    }
    p{
        text-align: justify;    
    }
    *{
        font-size: 0.9em;
    }
    .btns{
        text-align: center;
    }
}
