<app-preview></app-preview>
<section id="projects" class="projects-container">
    <h2>Conheça Meus Projetos</h2>
    <div class="projects">
        <div class="project" *ngFor="let p of projects">
            <div class="img">
                <img width="100px" [src]="p.imgUrl" [alt]="'imagem de '+p.title">
            </div>
            <div class="project-info">
                <h3 class="project-title">
                    {{p.title}}
                </h3>
                <p class="project-description">
                    {{p.description}}
                </p>
                <div class="btns">
                    <button (click)="showPreview(p.videoUrl)">
                        VISUALIZAR
                    </button>
                    <button (click)="goLink(p.deployUrl)">
                        ACESSAR
                    </button>
                </div>
            </div>
        </div>        
    </div>
</section>