<section id="projects" class="projects-container">
    <h1>Conheça Meus Projetos</h1>
    <div class="projects">
        <section class="projects-content">

            <h3 class="project-title">
                Catálogo de produtos
            </h3>
            <p class="project-description">
                Uma aplicação web fullstack desenvolvida com Frameworks <strong>NestJs</strong> e <strong>Angular</strong> com integração com Banco de dados <strong>PostgreSQL</strong> e uploads em <strong>Versel Blob</strong>
            </p>
            <span><a class="project-link" href="https://github.com/CristianoMends/product-catalog-app">
                    clique aqui
                </a></span>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/e3z4XUWNZOs?si=0CLbSqIS-PmmUkpJ&amp;start=3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </section>

    </div>
</section>