<section class="container">
    <div class="content">
        <div class="btn-container">
            <p class="name">Trocar Tema</p>
            <div class="btn" (click)="switchTheme()">
                <div [class]="!isDarkTheme ? 'icon start' : 'icon end'">
                    @if (isDarkTheme) {
                    <img src="../../../assets/dark_mode.svg" alt="darkmode">
                    }@else{
                    <img src="../../../assets/light_mode.svg" alt="ligthmode">
                    }
                </div>
            </div>
        </div>
    </div>
</section>