<section class="container">
    <div class="content">
        <div class="btn-container">
            <p class="name">Trocar Tema</p>
            <div class="btn" (click)="switchTheme()">
                <div [class]="!isDarkTheme ? 'icon start' : 'icon end'">
                    @if (isDarkTheme) {
                    <span class="material-symbols-outlined">
                        dark_mode
                    </span>
                    }@else{
                    <span class="material-symbols-outlined">
                        light_mode
                    </span>
                    }
                </div>
            </div>
        </div>
    </div>
</section>