.container {
    position: fixed;
    right: 0;
    bottom: 0;
    height: max-content;
    width: max-content;
    margin: 25px;
    z-index: 99;
    opacity: 0.8;
}
.container *{
    -webkit-user-select: none;
    -moz-user-select: none;    
    -ms-user-select: none;    
    user-select: none; 
}

.content {
    gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.btn-container {
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80px;
    height: 40px;
    gap: 10px;
    border-radius: 25px;
    overflow: hidden;
    color: var(--textColor);
    background-color: var(--formColor);
    box-shadow: var(--boxShadow);
}

.btn div {
    height: 100%;
    border-radius: 50%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #1b3fa3bb;
    position: absolute;
}
.btn div span{
    color: var(--textColor);
    opacity: 0.9;
}

.start {
    right: 0;
}

.end {
    left: 0;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.btn:active {
    scale: 1.05;
}

.name {
    visibility: hidden;
    border-radius: 5px 50% 50% 5px;
    width: 100px;
    height: max-content;
    margin: 0;
    font-size: medium;
    padding: 5px;
    color: var(--formColor);
    background: var(--textColor);
}

.btn-container:hover .name {
    visibility: visible;
    transform: scale(1.05);
}
.btn-container:hover {
    transform: scale(1.05);
}

i {
    padding: 5%;
}

.material-symbols-outlined {
    color: #000;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

@media (max-width: 600px) {
    .container {
        bottom: 50px;
    }
    .btn{
        width: 50px;
        height: 30px;
    }
    .btn-container:hover .name {
        visibility: hidden;
    }
}