<section id="home" class="home-container">
    <div class="content box">
        <div class="title">
            <div class="title-text">
                <h4 class="typing-text invisible" id="hello" #hello>Olá, Eu sou o</h4>
                <h1 class="typing-text invisible" id="name" #name>Cristiano Mendes</h1>
            </div>

            <div class="cv-container invisible" #contact>
                <p class="description">
                    Um desenvolvedor de software dedicado, focado na construção e manutenção de sistemas e aplicações de
                    ponta a ponta.
                </p>

                <button id="cv" class="cv invisible" (click)="downloadCv()" #cv>
                    BAIXAR CV
                </button>
            </div>
        </div>
        <div *ngIf="1 >2 " class="video-container invisible" #video>
            <img src="./assets/me.png" alt="Cristiano Mendes" loading="lazy">
        </div>
    </div>
</section>