.home-container {
    position: relative;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    background-color: var(--backgroundColor2);
}

.content {
    scale: 1.2;
    overflow: visible;
    width: max-content;
    height: 30%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 25px;
    flex-direction: row;
    padding: 50px 0;
}

#hello{
    transform: translateY(10px);
}

.title {
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.title-text {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    color: var(--textTitleColor);
}

.title-text h1,
h4,
h3 {
    margin: 0;
    padding: 0;
}

.cv-container {
    max-width: 350px;
    max-height: 150px;
    opacity: 1;
    scale: 1;
}

.description {
    width: max-content;
    margin-top: 0;
    text-align: start;
    max-inline-size: 99%;
}

#name {
    text-transform: none;
    font-size: xxx-large;
    margin: 0;
    padding: 0;
}

h3 {
    margin: 0;
}

#dev {
    opacity: 0.5;
    font-style: italic;
    width: 100%;
    text-align: center;
}

.visible {
    transition: height 1s ease-in-out,
        overflow 1s ease-in-out,
        opacity 1s ease-in-out,
        width 1s ease-in-out,
        max-width 1s ease-in-out,
        max-height 1s ease-in-out,
        scale 1s ease-in-out;
}

.invisible {
    overflow: hidden;
    opacity: 0;
    height: 0;
    width: 0;
    scale: 0;
}

.nonedisplay {
    display: none;
}


.video-container {
    width: auto;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    animation: moving 5s linear infinite;
    background: linear-gradient(to bottom, transparent, 10%, transparent, 70%, #1b3fa3bb);
}

@keyframes moving {
    0% {}

    50% {
        transform: translateX(5px) translateY(5px);
    }

    100% {}
}

.video-container img {
    width: auto;
    height: 100%;
    filter: contrast(1.5) drop-shadow(2px 2px 3px #111) saturate(0.5);
    transition: transform 0.2s ease-in, filter 0.2s ease-in;
}

.video-container img:hover {
    transform: scale(1.1);
}

@keyframes move {
    0% {}

    50% {
        transform: translateY(5px) translateX(5px);
    }

    100% {}
}

.typing-text {
    border: none;
    border-radius: 0;
    display: inline-block;
    animation: blink-caret 0.5s step-end infinite;
}
.cv{
    margin: 0;
}
.cv:hover{
    background-color: #112764bb;
}

.title-text h1,
h3,
h4,
p {
    text-shadow: 2px 2px 5px #36363659;
}

@media (max-width: 600px) {
    .content {
        width: 95%;
        scale: 1;
    }

    .home-container {
        margin: 0;
    }

    .video-container {
        display: none;
    }

    #name {
        font-size: xx-large;
    }

    .title {
        width: 90%;
    }
    .description{
        max-inline-size: 100%;
    }
    .cv-container{
        width: 100%;
        align-items: center;
    }
}