.skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    height: 60px;
    padding: 10px;
    border: 1px solid var(--blue);
    margin: 5px;
    border-radius: 10px;

}

.skills-container div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
}

.animation {
    animation: domino 1s linear;
}

@keyframes domino {
    0% {}

    50% {
        border-color: #fff;
        transform: translateX(10px) translateY(0);
    }
    100% {}
}

@media (max-width: 600px) {
    img {
        height: 35px;
    }

    .skills-container div {
        align-items: center;
    }
}