.container {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    width: 500px;
    overflow-y: scroll;
    max-height: 300px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: var(--backgroundColor);
    box-shadow: var(--boxShadow);
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

a {
    text-decoration: none;
}

iframe {
    width: 100%;
    border-radius: 10px;
    box-shadow: var(--boxShadow);
    transition: background-color 0.2s ease-in, box-shadow 0.2s ease;
}

@media (max-width: 600px) {
    .container {
        padding: 0 5vw;
        width: 70vw;
    }
}