.skills-container {
    width: auto;
    max-width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    opacity: 1;
}


.marquee {
    display: flex;
    width: 100%;
    overflow: hidden;
    padding: 10px 0;
    border-left: 3px solid var(--boxColor);
    border-right: 3px solid var(--boxColor);
    border-radius: 5px;
}

.marquee-content {
    display: flex;
    width: max-content;
    animation: marquee 20s linear infinite;
}
.marquee:hover .marquee-content{
    animation-play-state: paused;
}

.marquee-content img {
    height: 60px;
    margin: 5px;
    border-radius: 10px;
    filter: drop-shadow(2px 2px 3px #111);
    transition: transform 0.2s ease-in-out;
}

.marquee-content img:hover {
    transform: scale(1.1);
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.animation {
    animation: domino 2s linear;
}

@keyframes domino {
    0% {}
    25%{

    }
    50% {
        border-color: var(--backgroundColor2);
        transform: translateX(10px) translateY(20px);
    }
    75%{

    }
    100% {}
}

@media (max-width: 600px) {
    .marquee-content img {
        height: 35px;
    }
    .skills-container {
        max-width: 90vw;
    }
}