<section id="skills" class="skills-container">
    <h3>Habilidades</h3>
    <div class="marquee">
        <div class="marquee-content" #container id="container">
            @for (item of skills; track $index) {
            <img src="{{item.imageUrl}}" alt="{{item.name}}">
            }
        </div>
        <div class="marquee-content" #container id="container">
            @for (item of skills; track $index) {
            <img src="{{item.imageUrl}}" alt="{{item.name}}">
            }
        </div>
        <div class="marquee-content" #container id="container">
            @for (item of skills; track $index) {
            <img src="{{item.imageUrl}}" alt="{{item.name}}">
            }
        </div>
    </div>
</section>