:root {
    --detailColor: rgba(34, 34, 68, 0.577);
    --boxColor: rgba(128, 128, 128, 0.091);
    --backgroundColor2: #1b3fa3bb;
    --shadowColor: #0000003e;
    --boxShadow: 0px 4px 6px var(--shadowColor), 0px 1px 3px var(--shadowColor);
    --textColorReverse: #fff;

    --formColor: #111;
    --iconColor: invert(1);
    --headerColor: #111;
    --textColor: #faf8f8;
    --textTitleColor: #ddd;
    --homeBgColor: #0044ff;
    --backgroundColor: #272727;
}

* {
    transition: background-color 0.2s ease-in-out, filter 0.2s ease-in-out;
}

/*
    this.changeCssVariable('--backgroundColor', "#272727");
    this.changeCssVariable('--textColor', '#faf8f8');
    this.changeCssVariable('--headerColor', '#111');
    this.changeCssVariable('--iconColor', 'invert(1)');
    this.changeCssVariable('--formColor', '#111');
    this.changeCssVariable('--homeBgColor', '#0044ff');
*/

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    color: var(--textColor);

    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #111;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background: #1b3fa3bb;
    border-radius: 10px;
}

button {
    border: 1px solid transparent;
    color: #fff;
    background-color: #1b3fa3bb;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: var(--boxShadow);
    font-size: medium;
    padding: 10px;

    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a,
button:hover {
    cursor: pointer;
    scale: 105%;
}


p {
    font-size: large;
    opacity: 0.7;
    text-align: justify;
}

h2 {
    font-size: 2.2em;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.2rem;
}

h1,
h2,
h3,
h4,
h5 {
    text-transform: uppercase;
}

@media (max-width: 600px) {
    p {
        font-size: medium;
        opacity: 0.7;
        text-align: justify;
    }

    h2 {
        font-size: 2.0em;
    }

    h3 {
        font-size: 1.3rem;
    }
}