:root {
    --white: #F8F8FF;
    --black: #111;
    --blue: rgb(26, 26, 94);
    --grey: #696969;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: var(--blue);
}

* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 5px;
    border-bottom: 1px solid;
    border-radius: 5px;

}

section {
    height: 100%;
    color: var(--white);
    opacity: 0;
    transition: opacity 1s, visibility 1s;
}

.anim {
    display: flex;
    visibility: visible;
    opacity: 1;
}

@media (max-width: 600px) {
    h1{
        font-size: large;
    }h4{
        font-size: small;
    }
    h2{
        font-size: large;
    }
}