:root {
    --detailColor: rgba(34, 34, 68, 0.577);
    --boxColor: rgba(128, 128, 128, 0.091);
    --backgroundColor2: #1b3fa3bb;
    --shadowColor: #0000003e;
    --boxShadow: 0px 4px 6px var(--shadowColor), 0px 1px 3px var(--shadowColor);
    --textColorReverse: #fff;

    --formColor: #111;
    --iconColor: invert(1);
    --headerColor: #111;
    --textColor: #faf8f8;
    --textTitleColor: #ddd;
    --homeBgColor: #0044ff;
    --backgroundColor: #272727;
}

* {
    transition: background-color 0.2s ease-in-out, filter 0.2s ease-in-out;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    color: var(--textColor);

    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #111;
}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: #1b3fa3bb;
    border-radius: 10px;
}

.section {
    border-top: 1px solid #0000003e;
}

button {
    border: 1px solid var(--detailColor);
    color: var(--textColorReverse);
    background: linear-gradient(#1b3fa3bb, #5976c5bb);
    border-radius: 10px;
    box-shadow:
        4px 4px 8px var(--shadowColor),
        -4px -4px 8px rgba(255, 255, 255, 0.1),
        inset 2px 2px 4px rgba(0, 0, 0, 0.2),
        inset -2px -2px 4px rgba(255, 255, 255, 0.1);
    font-size: medium;
    padding: 12px 20px;
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    color: #fff;
    box-shadow: var(--boxShadow);
    text-shadow: 2px 2px 3px black;
}

button * {
    filter: drop-shadow(2px 2px 3px black);
}


button:hover {
    transform: translateY(-4px);
    box-shadow:
        6px 6px 12px var(--shadowColor),
        -6px -6px 12px rgba(255, 255, 255, 0.1),
        inset 3px 3px 6px rgba(0, 0, 0, 0.3),
        inset -3px -3px 6px rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

a {
    cursor: pointer;
    scale: 1.1;
}


p {
    font-size: large;
    opacity: 0.7;
    text-align: justify;
}

h2 {
    font-size: 2.2em;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.2rem;
}

@media (max-width: 600px) {
    p {
        font-size: medium;
        opacity: 0.7;
        text-align: justify;
    }

    h2 {
        font-size: 2.0em;
    }

    h3 {
        font-size: 1.3rem;
    }

    @media (max-width: 600px) {
        *::-webkit-scrollbar {
            width: 2px;

        }

        *::-webkit-scrollbar-track {
            background: transparent;
        }

        *::-webkit-scrollbar-thumb {
            background: #1b3fa3bb;
            border-radius: 10px;
        }
        button{
            padding: 6px 10px;
        }
    }
}