.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin-top: 0;
    padding: 0;
    border-bottom: 1px solid black;
    background-image: url(../../assets/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    opacity: 1;
}

.title {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    width: 50%;
    height: 50%;
}
.title-text{
    width: 100%;
    min-height: 50%;
    height: max-content;
}

.title h1 {
    font-size: 2.5em;
}


.name {
    text-decoration: none;
    border: none;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    min-height: 50%;
}

.cv {
    text-decoration: none;
    padding: 5px;
    color: #fff;
    width: max-content;
    border-radius: 5px;
    border: 1px solid #fff;
}


.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 50%;
    height: 40%;
}

.contact-container {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
}

.video-container {
    transition: opacity 2s, width 2s, height 2s;
    opacity: 1;
    background-color: #fff;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid #00000060;
    filter: drop-shadow(1px 1px 3px #ffffff74);
    overflow: hidden;
    animation: move 5s ease-in-out infinite;
}

.visible {
    transition: opacity 2s;
}

.invisible {
    overflow: hidden;
    opacity: 0;
    height: 0;
    width: 0;
    scale: 0;
}
a{
    cursor: pointer;
}

@keyframes move {
    0% {}

    50% {
        transform: translateY(5px) translateX(5px);
    }

    100% {}
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: black;
    }
}

video {
    width: 100%;
    height: 100%;
    transform: scale(1.35);
    filter: blur(0px) contrast(150%);
}

.typing-text {
    border: none;
    border-radius: 0;
    border-right: 5px solid;
    display: inline-block;
    animation: blink-caret 0.5s step-end infinite;
}

h1 {
    text-shadow: 3px 3px 2px black;
}

h4 {
    text-shadow: 3px 3px 2px black;
}

.show {
    transition: opacity 2s, visibility 2s;
    visibility: visible;
    opacity: 1;
}




@media (max-width: 600px) {
    .content {
        width: 80%;
        height: 50%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .contact-container {
        gap: 5px;
    }
    .contact{
        scale: 80%;
    }

    .title {
        text-align: start;
        width: 90%;
    }

    .contact {
        justify-content: center;
        align-items: center;
    }

    .video-container {
        height: 100px;
        width: 100px;
    }

    .title h1 {
        font-size: 1.3em;
    }
}